.gradient-pending {
    background: linear-gradient(to bottom, #F8E077, #E5ECF4); /* Light yellow to white */
    border: white;
}

.gradient-rejected {
    background: linear-gradient(to bottom, #FF784F, #E5ECF4); /* Light red to white */
    border: white;
}

.gradient-approved {
    background: linear-gradient(to bottom, #73956F, #E5ECF4); /* Light green to white */
    border: white;
}

.custom-dropdown .btn {
    background-color: #383631;
    border-color: #383631;
}